<div class="grid grid-cols-1 gap-4" *rxLet="feature$; let feature">
  <div
    contenteditable="true"
    (blur)="updateFeatureName($event, feature)"
    class="text-2xl"
    [ngClass]="featureClass"
    [innerHTML]="feature.name"
  ></div>
  <div
    contenteditable="true"
    class="mb-4"
    (blur)="updateFeatureDescription($event, feature)"
    [ngClass]="featureClass"
    [innerHTML]="feature.description"
  ></div>
  <p class="text-xl font-bold">Implique</p>
  <div class="grid grid-cols-1 gap-2">
    <fb-dropdown
      [items]="otherFeatures$ | push: 'native'"
      [searchFn]="searchFn"
      [compareFn]="compareFn"
      [ngModel]="linkedFeatures$ | push: 'native'"
      (ngModelChange)="linkFeatures($event)"
      closeOnSelect
      multi
    >
      <ng-container preIcon>
        <em class="fa-solid fa-magnifying-glass"></em>
      </ng-container>
      <ng-template fbDropdownEmptySearch>
        <span>Créer la feature</span>
      </ng-template>
      <ng-template fbDropownSelected let-selected>
        <div
          class="px-2 border rounded bg-slate-200 grid grid-cols-[max-content,auto] items-center gap-2"
        >
          <span>{{ selected.name }}</span>
          <em
            class="fa-solid fa-xmark cursor-pointer"
            (click)="removeSelected(selected)"
          ></em>
        </div>
      </ng-template>
      <ng-template fbDropdownOption let-option>
        <span>{{ option.name }}</span>
      </ng-template>
    </fb-dropdown>
    <ul class="flex flex-row">
      <li
        *rxFor="let feature of linkedFeatures$"
        class="p-4 flex items-center justify-center bg-white border rounded"
      >
        {{ feature }}
      </li>
    </ul>
  </div>
  <p class="text-xl font-bold">Question</p>
  <ul>
    <li class="px-4 py-2 bg-white rounded-lg border">Question 1</li>
  </ul>
</div>
