<div class="grid grid-cols-1 gap-4" *rxLet="feature$; let feature">
  <div
    contenteditable="true"
    (blur)="updateFeatureName($event, feature)"
    class="text-2xl"
    [ngClass]="featureClass"
    [innerHTML]="feature.name"
  ></div>
  <div
    contenteditable="true"
    class="mb-4"
    (blur)="updateFeatureDescription($event, feature)"
    [ngClass]="featureClass"
    [innerHTML]="feature.description"
  ></div>
  <p class="text-xl font-bold">Implique</p>
  <div class="grid grid-cols-1 gap-2">
    <fb-dropdown
      *rxLet="state.select('items'); let items"
      [items]="items"
      [multi]="true"
      [searchFn]="searchFn"
      [ngModel]="state.select('values') | push: 'native'"
      (ngModelChange)="setValues($event)"
      closeOnSelect
    >
      <div
        class="px-2 border rounded bg-slate-200 grid grid-cols-2 items-center gap-2"
        *fbDropdownSelected="items; let selected"
      >
        <span>{{ selected }}</span>
        <em
          class="fa-solid fa-xmark cursor-pointer"
          (click)="removeSelected(selected)"
        ></em>
      </div>
      <ng-container preIcon>
        <em class="fa-solid fa-magnifying-glass"></em>
      </ng-container>
      <div *fbDropdownOption="items; let option">
        {{ option }}
      </div>
    </fb-dropdown>
    <ul class="flex flex-row">
      <li
        class="h-[50px] w-[50px] flex items-center justify-center bg-white border rounded"
      >
        A
      </li>
    </ul>
  </div>
  <p class="text-xl font-bold">Question</p>
  <ul>
    <li class="px-4 py-2 bg-white rounded-lg border">Question 1</li>
  </ul>
</div>
