<div
  class="grid grid-cols-[auto,1fr] gap-2 items-center"
  *rxLet="state.select('focused'); let focused"
>
  <ng-content select="[preIcon]"></ng-content>
  <div
    class="group flex items-center flex-wrap gap-1"
    fbInput
    cdkOverlayOrigin
    #input="cdkOverlayOrigin"
  >
    <ng-container *rxFor="let item of state.select('values')">
      <ng-container
        *ngTemplateOutlet="selected; context: { $implicit: item }"
      ></ng-container>
    </ng-container>
    <input
      type="text"
      class="w-full outline-none"
      [placeholder]="state.select('placeholder') | push: 'native'"
      (focus)="isFocused(true)"
      (input)="onSearch($event)"
    />
  </div>
  <ng-content select="[postIcon]"></ng-content>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="input"
    [cdkConnectedOverlayOpen]="focused"
    [cdkConnectedOverlayPositions]="positions"
    [cdkConnectedOverlayWidth]="input.elementRef.nativeElement.offsetWidth"
    [cdkConnectedOverlayHasBackdrop]="true"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    (backdropClick)="isFocused(false)"
  >
    <ul
      cdkListbox
      *rxLet="listBox$; let listBox"
      [cdkListboxMultiple]="listBox.multi"
      (cdkListboxValueChange)="writeValue($event.value)"
      [cdkListboxValue]="listBox.values"
      [cdkListboxCompareWith]="compareFn"
      class="bg-white p-1 rounded border w-full shadow-md max-h-40 overflow-y-auto space-y-1"
    >
      <li
        [cdkOption]="null"
        [ngClass]="{
          hidden: listBox.displayableItems > 0
        }"
        class="outline-none transition rounded border border-transparent focus:border-slate-500 p-1 cursor-pointer aria-selected:bg-slate-200"
      >
        <ng-container
          *ngTemplateOutlet="emptySearch || emptySearchDefault"
        ></ng-container>
      </li>
      <li
        *rxFor="let item of listBox.filteredItems; trackBy: trackByValue"
        [cdkOption]="item.value"
        [ngClass]="{ hidden: !item.display }"
        class="outline-none transition rounded border border-transparent focus:border-slate-500 p-1 cursor-pointer aria-selected:bg-slate-200"
      >
        <ng-container
          *ngTemplateOutlet="option; context: { $implicit: item.value }"
        ></ng-container>
      </li>
    </ul>
  </ng-template>
</div>

<ng-template #emptySearchDefault>
  <p class="text-center text-sub-app">Aucun résultat</p>
</ng-template>
